// Colors
$green: #2AAD61;
$dark-blue: #124668;
$orange: #F39C4F;
$light-blue: #319AD1;
$dark-gray: #596166;
$light-gray: #A2ACB2;
$soft-white: #F4F5F5;

// Font Stacks
$libre-stack: "Libre Franklin", sans-serif;
$montserrat-stack: "Montserrat", sans-serif;

// Asset Paths
$imgFolderPath: "./../../dist/img";
$fontFolderPath: "./../../fonts";
