#hero-bottom {
	height: 437px;
	background: url("#{$imgFolderPath}/hero-bottom.jpg"), url("./../dist/img/hero-bottom.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: -1.8em;
	color: #fff;
	padding-top: 4em;

	.row {
		text-align: center;

		h1 {
			font-family: "Montserrat";
			font-weight: 500;
		}

		h4 {
			font-family: "Libre Franklin";
			font-weight: 300;
		}


		a.green-button {
			display: inline-block;
			margin-top: 2em;
			margin-bottom: 3.2em;

			&:hover {
				text-decoration: none;
			}
		}

		hr {
			display: block;
			width: 4.3em;
			height: 1px;
			border: 0;
			border-top: 1px solid #ccc;
			margin: 0 auto;
		}

		.social-icons {
			margin-top: 2.8em;

			i {
				margin: 0 0.5em;
			}
		}
	}
}
