#main-body {
	padding: 6em 0;
	.row {
		img {
			margin-right: 1.6em;
		}

		.montserrat-heading {
			font-family: "montserrat";
			font-weight: bold;
			color: $dark-blue;
			margin-top: 1.4em;
		}

		.libre-heading {
			font-family: "Libre Franklin";
			color: $light-gray;
			font-weight: 300;
			margin-bottom: 0;
		}

		h4, h5, h6 {
			&.libre-heading {
				margin-bottom: 0.9em;
			}
		}

		.body-details {
			margin-top: 2.2em;
			line-height: 1.8em;
			font-family: "Libre Franklin";
			color: darker($dark-gray, 80%);
			max-width: 840px;
			p {
				margin-bottom: 2em;
				letter-spacing: 1px;
				font-size: 14px;
			}
		}

	}
}



@media (max-width: 992px) {
	#main-body {
		img {
			width: 4.8em;
		}
	}
}


@media (max-width: 768px) {
	#main-body {
		img {
			width: 3.8em;
		}
	}
}

@media (max-width: 600px) {
	#main-body {
		img {
			width: 2.7em;
		}
	}
}
