#loginModal {
	button[type="submit"] {

		font-size: 1.2em;
		padding: 8px 14px;
		&:hover {
			cursor: pointer;
		}
	}

	.close {
		background: lighten($light-gray, 20%);
		border-radius: 4px;
		border: none;
		&:hover {
			cursor: pointer;
		}
		&:active, &:focus {
			outline: none;
		}
	}
}
